.App {
  font-family: sans-serif;
  text-align: left;
}

.output-ui,
.input-data,
.output-data {
  width: 90vw;
  margin: 0 auto;
}

.output-data textarea,
.input-data textarea {
  width: 100%;
  height: 33vh;
}

.input-data textarea {
  max-height: 100px;
}
.output-data textarea {
  min-height: 500px;
}

.output-ui select,
.output-ui button {
  max-width: 50%;
}

form .field-name {
  display: block;
  font-size: 1.15rem;
}
