.App {
  font-family: sans-serif;
  text-align: left;
}

.output-ui,
.input-data,
.output-data {
  width: 90vw;
  margin: 0 auto;
}

.output-data textarea,
.input-data textarea {
  width: 100%;
  min-height: 33vh;
}

.output-ui select,
.output-ui button {
  max-width: 50%;
}
